@using TuyenDungCNTT.Models.Dao 

@{ 
    var baiVietChuaDuyet = new BaiVietDao().SlBaiViet(null, false);
    var tinChuaDuyet = new TinTuyenDungDao().SlTinTuyenDung(null, false);
}

<div id="sidebar-menu">

    <ul class="metismenu" id="side-menu">

        <li class="menu-title">Hệ thống quản trị</li>

        <li>
            <a href="/Admin/Home" class="waves-effect">
                <i class="remixicon-dashboard-line"></i>
                <span> Dashboards </span>
                <span class="menu-arrow"></span>
            </a>
        </li>

        <li>
            <a href="javascript: void(0);" class="waves-effect active">
                <i class="remixicon-stack-line"></i>
                <span> Quản lý tài khoản </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index","User")">Danh sách tài khoản</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","User")">Phân quyền</a>
                </li>
                <li>
                    <a href="@Url.Action("Create","User")">Tạo mới tài khoản</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="remixicon-layout-line"></i>
                <span> Quản lý ứng viên </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index", "UngVien")">Danh sách ứng viên</a>
                </li>
                <li>
                    <a href="@Url.Action("Create","UngVien")">Thêm ứng viên</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="remixicon-mail-open-line"></i>
                <span> Quản lý tuyển dụng </span>
                @if (tinChuaDuyet > 0)
                {
                    <span class="badge badge-pink badge-pill float-right">@tinChuaDuyet</span>
                }
                else
                {
                    <span class="menu-arrow"></span>
                }
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index","NhaTuyenDung")">Danh sách nhà tuyển dụng</a>
                </li>
                <li>
                    <a href="@Url.Action("Create","NhaTuyenDung")">Thêm nhà tuyển dụng</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","TinTuyenDung")">Danh sách tin tuyển dụng</a>
                </li>
                <li>
                    <a href="@Url.Action("TinChoDuyet","TinTuyenDung")" class="waves-effect">
                        @if (tinChuaDuyet > 0)
                        {
                            <span class="badge badge-pink badge-pill float-right">@tinChuaDuyet</span>
                        }
                        <span> Tin tuyển dụng chờ duyệt </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="remixicon-file-copy-2-line"></i>
                <span> Quản lý danh mục </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("ChuyenNganh","DanhMuc")">Chuyên ngành</a>
                </li>
                <li>
                    <a href="@Url.Action("CapBac","DanhMuc")">Cấp bậc</a>
                </li>
                <li>
                    <a href="@Url.Action("DiaChi","DanhMuc")">Địa chỉ</a>
                </li>
                <li>
                    <a href="@Url.Action("MucLuong","DanhMuc")">Mức lương</a>
                </li>
                <li>
                    <a href="@Url.Action("LoaiCongViec","DanhMuc")">Loại công việc</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="remixicon-pages-line"></i>
                <span> Quản lý bài viết </span>
                @if (baiVietChuaDuyet > 0)
                {
                    <span class="badge badge-pink badge-pill float-right">@baiVietChuaDuyet</span>
                }
                else
                {
                    <span class="menu-arrow"></span>
                }
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index","BaiViet")">Danh sách bài viết</a>
                </li>
                <li>
                    <a href="@Url.Action("Create","BaiViet")">Tạo bài viết mới</a>
                </li>
                <li>
                    <a href="@Url.Action("ChoDuyet","BaiViet")" class="waves-effect">
                        @if (baiVietChuaDuyet > 0)
                        {
                            <span class="badge badge-pink badge-pill float-right">@baiVietChuaDuyet</span>
                        }
                        <span> Bài viết chờ duyệt </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>