@model TuyenDungCNTT.Models.ViewModels.UngVien.UngVienVm

@{
    ViewBag.Title = "Tạo ứng viên mới";
    ViewBag.PrevPage = "Quản lý ứng viên";
    ViewBag.CurrentPage = "Tạo ứng viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-2">
                    <h4 class="header-title mb-0">Tạo tài khoản mới</h4>
                </div>
                <div class="collapse pt-3 show">
                    @using (Html.BeginForm("Create", "UngVien", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.MaUngVien, "Mã ứng viên", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.MaUngVien, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.MaUngVien, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.TenUngVien, "Tên ứng viên", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.TenUngVien, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenUngVien, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.SoDienThoai, "Số điện thoại", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.GioiTinh, "Giới tính", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.GioiTinh, new List<SelectListItem>()
                                {
                                    new SelectListItem() {Value = "Nam", Text = "Nam"},
                                    new SelectListItem() {Value = "Nữ", Text = "Nữ"}
                                },
                                new { @class = "form-control text-box single-line" })
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.NgaySinh, "Nhập ngày sinh", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.DiaChi, "Nhập địa chỉ", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group align-items-center row mt-3">
                            <div class="col-md-2">
                                @Html.ActionLink("Trở về", "Index", "UngVien", null, new { @class = "btn btn-light" })
                            </div>

                            <div class="col-md-6">
                                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



