@model TuyenDungCNTT.Models.ViewModels.UngVien.UngVienVm

@{
    ViewBag.Title = "Thông tin ứng viên";
    ViewBag.PrevPage = "Quản lý ứng viên";
    ViewBag.CurrentPage = "Thông ứng viên '" + Model.TenUngVien + "'";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-2">
                    <h4 class="header-title mb-0">Thông tin ứng viên: @Model.TenUngVien</h4>
                </div>
                <div class="collapse pt-3 show">
                    <div class="form-horizontal">
                        
                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.MaUngVien, "Mã ứng viên", new { @class = "control-label col-md-2"})
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.MaUngVien)
                            </div>
                        </div>
                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.TenUngVien, "Tên ứng viên", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.TenUngVien)
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.SoDienThoai, "Số điện thoại", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.SoDienThoai)
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.GioiTinh, "Giới tính", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.GioiTinh)
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.NgaySinh, "Nhập ngày sinh", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.NgaySinh)
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.DiaChi, "Nhập địa chỉ", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.DiaChi)
                            </div>
                        </div>

                        <div class="form-group align-items-center row mt-3">
                            <div class="col-md-2">
                                
                            </div>

                            <div class="col-md-6">
                                @Html.ActionLink("Trở về", "Index", "UngVien", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
