@model List<TuyenDungCNTT.Models.ViewModels.TinTuyenDung.TinTuyenDungVmHome>
@using TuyenDungCNTT.Models.Dao

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var topBaiViet = new BaiVietDao().GetListItemHot(3);
}

@section css_Main {
    <link rel="stylesheet" href="~/Assets/Client/css/home.css">
}

@section scripts_Main {
    <script src="~/Assets/Client/js/style.js"></script>
    <script src="~/Assets/Client/js/searchkey.js"></script>
    <script src="~/Assets/Client/js/home.js"></script>
    <script>
        $(document).on({
            ajaxStart: function () {
                $("body").addClass("loading");
            },
            ajaxStop: function () {
                $("body").removeClass("loading");
            }
        });
    </script>
}

<div class="main__fixed bg-img"></div>
<div class="main__search">
    <div class="main__search--wrapper grid wide">
        <h1 class="main__search--title">
            Tìm việc làm cho sinh viên ngành Công nghệ thông tin
        </h1>
        @{ Html.RenderAction("_ViewSearch", "Home");}
    </div>
</div>

<div class="main__cv">
    <div class="main__cv--wrapper grid wide">
        <div class="main__cv--content row">
            <div class="cv__item col l-6 m-12 c-12">
                <div class="cv__item--wrapper">
                    <div class="cv__item--description">
                        <h2>Tạo CV</h2>
                        <h3>Giúp bạn tạo CV xin việc trực tiếp trên hệ thống nhanh chóng, tiện lợi hơn bao giờ hết...</h3>
                        <a href="@Url.Action("Create","HoSoXinViec")" class="cv__item--link button--link">
                            <span><i class="fas fa-plus"></i></span>
                            Tạo CV ngay
                        </a>
                    </div>
                    <div class="cv__item--img">
                        <img class="full_width" src="~/Assets/Client/img/create_cv.png" alt="Tạo mới CV">
                    </div>
                </div>
            </div>
            <div class="cv__item col l-6 m-12 c-12">
                <div class="cv__item--wrapper">
                    <div class="cv__item--description">
                        <h2>Sử dụng CV sẵn có</h2>
                        <h3>Nếu bạn đã có CV của riêng mình, hãy tải lên cho nhà tuyển dụng nhìn thấy</h3>
                        <a href="javascript:void(0)" class="cv__item--link button--link">
                            <span><i class="fas fa-upload"></i></span>
                            Upload CV ngay
                        </a>
                    </div>
                    <div class="cv__item--img">
                        <img class="full_width" src="~/Assets/Client/img/upload_cv.png" alt="Upload CV của bạn">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main__recruitment">
    <div class="main__recruitment--wrapper grid wide">
        <h1 class="main__recruitment--title main__item--title">
            Tin tuyển dụng mới nhất
        </h1>
        <div class="main__recruitment--content row">
            @foreach (var item in Model)
            {
                <div class="recruitment__item col l-4 m-6 c-12">
                    <div class="recruitment__item--wrapper">
                        <div class="recruitment__item--img">
                            <img class="full_width" src="@item.AnhDaiDien" alt="Logo nhà tuyển dụng">
                            <div class="recruitment__item--time">@item.DiaChi</div>
                        </div>
                        <div class="recruitment__item--name">
                            <h2 class="recruitment__name--title">
                                <a href="/tin-tuyen-dung/@item.TieuDeTTD-@item.MaTTD" class="recruitment__name--link text-line-1">
                                    @item.TenCongViec
                                </a>
                            </h2>
                            <div class="recruitment__name--employer">
                                <a href="/cong-ty/@item.TieuDeNTD-@item.MaNTD" class="recruitment__employer--link text-line-1">
                                    <span class="recruitment__icon"><i class="far fa-building"></i></span>
                                    <span class="">@item.TenNTD</span>
                                </a>
                            </div>
                            <p class="recruitment__salary">
                                <span class="recruitment__icon"><i class="fas fa-money-check-alt"></i></span>
                                <span>@item.MucLuong</span>
                            </p>
                            <p class="recruitment__address">
                                <span class="recruitment__icon"><i class="fas fa-map-marked"></i></span>
                                <span>@item.LoaiCV</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="main__employer">
    <div class="main__employer--wrapper grid wide">
        <h1 class="main__employer--title main__item--title">
            TOP nhà tuyển dụng hàng đầu
        </h1>
        <div class="main__employer--content row">
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1639983010356.png" alt="">
                    </a>
                </div>
            </div>
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1599494254872.png" alt="">
                    </a>
                </div>
            </div>
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1639983010356.png" alt="">
                    </a>
                </div>
            </div>
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1639967923096.png" alt="">
                    </a>
                </div>
            </div>
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1639464398593.png" alt="">
                    </a>
                </div>
            </div>
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1626082875301.png" alt="">
                    </a>
                </div>
            </div>
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1625285710869.png" alt="">
                    </a>
                </div>
            </div>
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1618804000607.png" alt="">
                    </a>
                </div>
            </div>
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1603344490671.png" alt="">
                    </a>
                </div>
            </div>
            <div class="employer__item col l-2-4 m-4 c-6">
                <div class="employer__item--wrapper">
                    <a href="" class="employer__item--link">
                        <img class="" src="~/Assets/Client/img/Employer/avatar_1599494254872.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main__blog">
    <div class="main__blog--wrapper grid wide">
        <h1 class="main__blog--title main__item--title">
            Bài viết cho bạn
        </h1>
        <div class="main__blog--content row">
            @foreach (var item in topBaiViet)
            {
                <div class="blog__item col l-4">
                    <div class="blog__item--wrapper">
                        <a href="/bai-viet/@item.TieuDe-@item.MaBaiViet" class="blog__item--link">
                            <div class="blog__item--img">
                                <img class="full_width" src="@item.AnhChinh" alt="@item.TenBaiViet">
                            </div>
                            <div class="blog__item--content">
                                <div class="blog__item--description">
                                    <h3 class="blog__item--name text-line-2">
                                        @item.TenBaiViet
                                    </h3>
                                    <p class="blog__item--data text-line-2">
                                        <strong>@item.TenTacGia</strong>
                                    </p>
                                    <p class="blog__item--see">Xem thêm>></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Main login -->
<div class="main__login">
    <div class="main__login--wrapper">
        <div class="main__login--title">
            <h4>Đăng Nhập</h4>
            <div class="login--close"></div>
        </div>
        <div class="main__login--content">
            <form class="main__login--form" method="post">
                <div id="login_message" class="text-danger text-center"></div>
                <div class="login__form--input">
                    <label for="login_email">Email</label>
                    <input type="email" id="login_email" placeholder="Nhập email của bạn" required autocomplete="off">
                </div>
                <div class="login__form--input">
                    <label for="login_password">Mật khẩu</label>
                    <input type="password" id="login_password" placeholder="Nhập mật khẩu" required autocomplete="off">
                </div>
                <div class="login__form--input">
                    <button class="form__input--submit" id="form_btn-login">Đăng nhập</button>
                </div>
            </form>
        </div>
        <div class="main__login--note">
            <p>Bạn chưa có tài khoản? <strong><a id="link-register" href="javascript:void(0)">Đăng ký ngay</a></strong></p>
        </div>
    </div>
</div>

<!-- Main register -->
<div class="main__register">
    <div class="main__register--wrapper">
        <div class="main__register--title">
            <h4>Đăng Ký</h4>
            <div class="register--close"></div>
        </div>
        <div class="main__register--content">

            <form class="main__login--form" method="post">
                <div id="register_message" class="text-danger text-center"></div>
                <div class="register__form--input">
                    <label for="register_name">Họ và tên</label>
                    <input type="text" name="register_name" id="register_name" placeholder="Nhập họ và tên của bạn" required autocomplete="off">
                </div>
                <div class="register__form--input">
                    <label for="register_email">Email</label>
                    <input type="email" name="register_email" id="register_email" placeholder="Nhập email của bạn" required autocomplete="off">
                </div>
                <div class="register__form--input">
                    <label for="register_password">Mật khẩu</label>
                    <input type="password" name="register_password" id="register_password" placeholder="Nhập mật khẩu" autocomplete="off" required>
                </div>
                <div class="register__form--input">
                    <label for="password_confirm">Xác nhận mật khẩu</label>
                    <input type="password" name="password_confirm" id="password_confirm" placeholder="Nhập lại mật khẩu" autocomplete="off" required>
                </div>
                <div class="register__form--input">
                    <button class="form__input--submit" id="form_btn-register">Đăng ký</button>
                </div>
            </form>
        </div>
        <div class="main__register--note">
            <p>Bạn đã có tài khoản? <strong><a id="link-login" href="javascript:void(0)">Đăng nhập ngay</a></strong></p>
        </div>
    </div>
</div>